.root {
    width: 60px;
    height: 60px;
    font-size: 30px;
    background: palegreen;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.root:hover {
    background-color: palegreen;
    color: whitesmoke;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.salmon {
    background: salmon;
}
